header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav-icons a {
    color: #fff;
    margin-left: 10px;
}

.nav-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* New styles for icons and button */
.nav-icons {
    display: flex;
    align-items: center;
}

.save-icon,
.cart-icon {
    font-size: 1.5rem;
}

.signup-btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}

.pages {
    display: flex;
    justify-content: center; 
    margin-right: 300px;
  }
  
  .pages a {
    margin: 0 20px; 
  }